body {
  background:white;
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  padding:2px;
}

#callstack-view{
  padding: 10px;
  border: 1px solid #006699;
  border-radius: 3px;
}

#datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

#datagrid {
  padding: 10px;
  font: normal 12px Arial, Helvetica, sans-serif;
  background: #fff;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#datagrid table thead th:first-child {
  border: none;
}

#datagrid table tbody tr {
  color: #00496B;
  border-left: 1px solid #E1EEF4;
  font-size: 12px;
  font-weight: normal;
}

#datagrid table tbody .alt td {
  background: #E1EEF4;
}

#datagrid table tbody td:first-child {
  border-left: none;
}

#datagrid table tbody tr:last-child td {
  border-bottom: none;
}

#datagrid table tfoot td div {
  border-top: 1px solid #006699;
  background: #E1EEF4;
}

#datagrid table tfoot td {
  padding: 0;
  font-size: 12px
}

#datagrid table tfoot td div {
  padding: 2px;
}

#datagrid table tfoot td ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

#datagrid table tfoot li {
  display: inline;
}

#datagrid tbody tr:hover {
  text-decoration: none;
  border-color: #006699;
  color: #FFFFFF;
  background: none;
  background-color: #00557F;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
  position: fixed !important;
}